{% extends "layout/base.html" %}

{% block content %}
<form class="p-2 md:p-4 max-w-64 mx-auto">
  <div class="">
    <label
        for="username"
        class="block text-sm font-medium text-zinc-700 dark:text-zinc-200"
    >
      Username
    </label>

    <input
        autofocus=true
        type="text"
        id="username"
        name="username"
        class="p-1
                  mt-1
                  w-full
                  rounded-md
                  border-zinc-200
                  bg-white
                  text-sm
                  text-zinc-700
                  shadow-sm
                  dark:border-zinc-700
                  dark:bg-zinc-800
                  dark:text-zinc-200"
    />
  </div>
  <div class="mt-2">
    <label
        for="FirstName"
        class="block text-sm font-medium text-zinc-700 dark:text-zinc-200"
    >
      Password
    </label>

    <input
        type="password"
        id="password"
        name="password"
        class="p-1
              mt-1
              w-full
              rounded-md
              border-zinc-200
              bg-white
              text-sm
              text-zinc-700
              shadow-sm
              dark:border-zinc-700
              dark:bg-zinc-800
              dark:text-zinc-200"
    />
  </div>
  <div class="block mb-4"></div>
  <div class="flex items-center space-x-4">
    <button
        hx-post="/login"
        hx-indicator="#indicator"
        class="group
                 relative
                 inline-flex
                 items-center
                 justify-between
                 overflow-hidden
                 rounded-lg
                 dark:bg-zinc-300
                 dark:text-zinc-900
                 px-4
                 py-2
                 text-white
                 focus:outline-none
                 focus:ring
                 focus:ring-zinc-500
                 dark:active:bg-zinc-100"
    >
      <span class="absolute -end-full transition-all group-hover:end-4">
&gt;
      </span>

      <span class="text-sm font-medium transition-all group-hover:me-4">Login</span>
    </button>
  </div>
</form>
{% endblock content %}
